* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}

header {
  -webkit-box-shadow: 0px -1px 51px 22px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 51px 22px rgba(0,0,0,0.75);
box-shadow: 0px -1px 51px 22px rgba(0,0,0,0.75);
  background: rgba(8,19,240,0.7);
background: -moz-linear-gradient(left, rgba(8,19,240,0.7) 0%, rgba(145,145,145,0.7) 0%, rgba(227,57,227,0.7) 0%, rgba(122,3,224,1) 95%, rgba(116,0,224,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(8,19,240,0.7)), color-stop(0%, rgba(145,145,145,0.7)), color-stop(0%, rgba(227,57,227,0.7)), color-stop(95%, rgba(122,3,224,1)), color-stop(100%, rgba(116,0,224,1)));
background: -webkit-linear-gradient(left, rgba(8,19,240,0.7) 0%, rgba(145,145,145,0.7) 0%, rgba(227,57,227,0.7) 0%, rgba(122,3,224,1) 95%, rgba(116,0,224,1) 100%);
background: -o-linear-gradient(left, rgba(8,19,240,0.7) 0%, rgba(145,145,145,0.7) 0%, rgba(227,57,227,0.7) 0%, rgba(122,3,224,1) 95%, rgba(116,0,224,1) 100%);
background: -ms-linear-gradient(left, rgba(8,19,240,0.7) 0%, rgba(145,145,145,0.7) 0%, rgba(227,57,227,0.7) 0%, rgba(122,3,224,1) 95%, rgba(116,0,224,1) 100%);
background: linear-gradient(to right, rgba(8,19,240,0.7) 0%, rgba(145,145,145,0.7) 0%, rgba(227,57,227,0.7) 0%, rgba(122,3,224,1) 95%, rgba(116,0,224,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0813f0', endColorstr='#7400e0', GradientType=1 );  
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
 
}

body{
  background-image: url(..img/fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
  background: rgba(80,60,170,1);
background: -moz-linear-gradient(left, rgba(80,60,170,1) 0%, rgba(93,75,185,1) 0%, rgba(79,0,0,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(80,60,170,1)), color-stop(0%, rgba(93,75,185,1)), color-stop(100%, rgba(79,0,0,1)));
background: -webkit-linear-gradient(left, rgba(80,60,170,1) 0%, rgba(93,75,185,1) 0%, rgba(79,0,0,1) 100%);
background: -o-linear-gradient(left, rgba(80,60,170,1) 0%, rgba(93,75,185,1) 0%, rgba(79,0,0,1) 100%);
background: -ms-linear-gradient(left, rgba(80,60,170,1) 0%, rgba(93,75,185,1) 0%, rgba(79,0,0,1) 100%);
background: linear-gradient(to right, rgba(80,60,170,1) 0%, rgba(93,75,185,1) 0%, rgba(79,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#503caa', endColorstr='#4f0000', GradientType=1 );
}

footer{
  background-color: rgba(252, 252, 252, 0.637);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
 
}

.about {
  text-align: center;
  padding: 20px 50px;
}
.articles {
  padding: 50px;
  -webkit-box-shadow: 0px -1px 51px 22px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -1px 51px 22px rgba(0,0,0,0.75);
  box-shadow: 0px -1px 51px 22px rgba(0,0,0,0.75);  
  background: rgba(80,60,170,1);
  background: -moz-linear-gradient(left, rgba(80,60,170,1) 0%, rgba(93,75,185,1) 0%, rgba(79,0,0,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(80,60,170,1)), color-stop(0%, rgba(93,75,185,1)), color-stop(100%, rgba(79,0,0,1)));
  background: -webkit-linear-gradient(left, rgba(80,60,170,1) 0%, rgba(93,75,185,1) 0%, rgba(79,0,0,1) 100%);
  background: -o-linear-gradient(left, rgba(80,60,170,1) 0%, rgba(93,75,185,1) 0%, rgba(79,0,0,1) 100%);
  background: -ms-linear-gradient(left, rgba(80,60,170,1) 0%, rgba(93,75,185,1) 0%, rgba(79,0,0,1) 100%);
  background: linear-gradient(to right, rgba(80,60,170,1) 0%, rgba(93,75,185,1) 0%, rgba(79,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#503caa', endColorstr='#4f0000', GradientType=1 );
}
.text {
  font-size: 1.1rem;
  line-height: 1.5rem;
  text-align: justify;
}
.h102 {
  text-align: center;
}
h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  text-align: justify;
  font-size: 2rem;
}
h3 {text-align: center;
  font-size: 2rem;}
nav {
  padding: 10px 50px;
}
ul {
  list-style: none;
}
nav li {
  display: inline-block;
  margin: 0 10px;
}
.content {
  padding: 20px 50px;
}
.kartinka{
  text-align: center;
  -webkit-box-shadow: 0px 0px 38px 0px rgb(17, 10, 10);
-moz-box-shadow: 0px 0px 38px 0px rgba(75, 35, 35, 0.75);
box-shadow: 0px 0px 38px 0px rgba(27, 13, 13, 0.979);

}
